doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    title Database Management System Dashboard
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')

  body
    

    script(src='/js/jquery-2.1.1.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/js/dbmsclient/dbmsclient.js')
    script(src='/js/graph.js')
    script(src='/js/script.js')