
.devices-box {
  max-height: 150px;
  overflow-y: scroll;
  border: 1px solid #aaa;
  padding: 5px;
}

#graph {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}